body {
	background-color: #C5D1EB;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/*BOX INIT*/
.box-3d {
	--size: 350px;
	--halfSize: -175px;
	perspective: 800px;
	position: absolute;
	top: 50%;
	left: 50%;
	background-color: #ff0000;
}

.box-3d * {
	transform-style: preserve-3d;
}

.box-3d .y-axis {
	user-select: none;
	touch-action: none;
	transform-origin: center center;
	transform: rotate3d(0, 1, 0, 40deg);
	animation-duration: 4s;
	animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
	animation-fill-mode: forwards;
}

.box-3d .box-z {
	position: absolute;
	width: var(--size);
	height: var(--size);
	top: calc(var(--size) / -2);
	left: calc(var(--halfSize));
	background-color: #2F4858;
	border-radius: 15px;
	border: solid 0.5px #2F4858;

}

.box-3d .box-y {
	position: absolute;
	width: 175px;
	height: var(--size);
	top: -175px;
	left: 87.5px;
	background-color: #ecf0f1;
	border-radius: 15px;
	border: solid 0.5px #2F4858;
}

.box-3d .box-x {
	position: absolute;
	width: var(--size);
	height: 175px;
	top: 87.5px;
	left: -175px;
	background-color: #ecf0f1;
	border-radius: 15px;
	border: solid 0.5px #2F4858;
}

.box-3d .x-pos {
	transform: rotateX(90deg) translateY(87.5px) translateZ(var(--size));
}

.box-3d .x-neg {
	transform: rotateX(-90deg) translateY(-87.5px);
}

.box-3d .y-pos {
	transform: rotateY(90deg) translateX(-87.5px);
}

.box-3d .y-neg {
	transform: rotateY(-90deg) translateZ(var(--size)) translateX(87.5px);
}

.box-3d .z-pos {
	transform: rotateX(0deg) translateZ(calc(var(--size) / 2));
}

.box-3d .z-neg {
	transform: rotateY(180deg);
}

/*FRONT FACE*/
.box-z .bcg-bottom-box {
	width: 100%;
	height: 150px;
	z-index: 10;
	background-color: #02ba96;
	border-radius: 0 0 20px 20px;
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 15px solid #009779;
	box-shadow: inset 0 -20px 0 0 rgb(3, 173, 136);
}

/**PAPER and OUT PICTURE**/
.box-z .bcg-bottom-box .slit-out-picture {
	background-color: #282e3a;
	width: 140px;
	height: 30px;
	display: block;
	z-index: 150;
	margin: 25px auto 0 auto;
	animation-name: appears-slit-out-picture;
	animation-duration: 4s;
}

.box-z .bcg-bottom-box .slit-out-picture-shadow {
	position: absolute;
	width: 140px;
	height: 15px;
	top: 0;
	left: calc(50% - 70px);
	display: block;
	z-index: 200;
	margin: 25px auto 0 auto;
	background: #282e3a8e;
	animation-name: appears-slit-out-picture-shadow;
	animation-duration: 4s;
}

@keyframes appears-slit-out-picture-shadow {
	0% {
		opacity: 0
	}

	99% {
		opacity: 0;
	}

	100% {
		width: 140px;
		opacity: 1;
	}
}

@keyframes appears-slit-out-picture {
	0% {
		opacity: 0;
		width: 0;
	}

	20% {
		opacity: 0;
		width: 0;
	}

	21% {
		opacity: 0;
		width: 0;
	}

	22% {
		opacity: 0;
		width: 8px;
	}

	40% {
		opacity: 1;
		width: 165px;
	}

	41% {
		opacity: 1;
		width: 140px;
	}

	100% {
		width: 140px;
		opacity: 1;
	}
}

.box-z .bcg-bottom-box .sheet-picture {
	position: absolute;
	top: 25px;
	left: calc(50% - 46px);
	width: 96px;
	height: 0px;
	display: none;
	z-index: 125;
	background-color: #ecf0f1;
	animation-name: appears-sheet-picture;
	animation-duration: 1s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

.cvs {
	position: absolute;
	width: 100%;
	bottom: 0;
	visibility: hidden;
	z-index: 126;
	animation-duration: 1s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

@keyframes appears-cvs {
	0% {
		height: 0%;
		visibility: hidden;
	}

	50% {
		visibility: visible;
	}

	100% {
		height: 60px;
		visibility: visible;
	}
}

@keyframes appears-sheet-picture {
	0% {
		height: 0%;
		width: 90px;
	}

	100% {
		height: 80px;
		width: 90px;
	}
}

/**BUTTON PICTURE OUT**/
.box-z .button-picture {
	background-color: #009779;
	width: 26px;
	height: 26px;
	border-radius: 26px;
	position: absolute;
	border: none;
	box-shadow: inset 0 0 10px #005745;
	top: 19px;
	left: 19px;
	animation-name: appears-button-picture;
	animation-duration: 2s;
	cursor: pointer;
}

.box-z.button-picture1:focus+.bcg-bottom-box .sheet-picture {
	display: block;
}

@keyframes appears-button-picture {
	0% {
		transform: translateY(calc(-900px - 26px)) scale(3);
		opacity: 0;
	}

	70% {
		transform: translateY(0%);
	}

	80% {
		transform: translateY(-15%);
	}

	90% {
		transform: translateY(0%);
	}

	95% {
		transform: translateY(-7%);
	}

	97% {
		transform: translateY(0%);
	}

	99% {
		transform: translateY(-3%);
	}

	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

/**FLASH**/
.box-z .flash-insta {
	background-color: #eb9250;
	width: 48px;
	height: 24px;
	border-radius: 10px;
	position: absolute;
	display: flex;
	justify-content: space-around;
	align-items: center;
	top: 17px;
	right: 22px;
}

.flash-insta .circle-flash {
	width: 5px;
	height: 5px;
	border-radius: 5px;
	background-color: #ffffff;
	box-shadow: 0 0 0 2px #000000;
}

/**CAMERA LENS**/
.camera-lens {
	width: 128px;
	height: 128px;
	border-radius: 128px;
	display: block;
	top: calc(25% - 64px);
	left: calc(50% - 64px);
	z-index: 20;
	position: relative;
	transform: rotateX(90deg);
}

.box-cylinder,
.lens,
.lens-wrapper,
.cr {
	position: absolute;
	transform-style: preserve-3d;
}

.box-cylinder .lens {
	transform: rotateX(-45deg) rotateY(-45deg);
}

.box-cylinder {
	--lensHeight: 128px;
	--halfLensHeight: 64px;
	top: calc(50% - var(--halfLensHeight));
	left: calc(50% - var(--halfLensHeight));
	width: 128px;
	height: var(--lensHeight);
	transform-origin: 50%;
	animation-name: height-box-cylinder;
	animation-duration: 2s;
	animation-timing-function: ease-in;
}

@keyframes height-box-cylinder {
	0% {
		transform: scaleY(0.55);
		transform-origin: top;
	}

	100% {
		transform: scaleY(1);
		transform-origin: top;
	}
}

.lens,
.lens-wrapper {
	overflow: hidden;
	transform-origin: 0 0;
	backface-visibility: hidden;
}

.lens {
	background-color: #009779;
	background-position: center;
	width: 128px;
	height: 128px;
}

.lens-wrapper .lens {
	left: 100%;
	width: 100%;
	height: 100%;
}

.photon-shader {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.photon-shader-2 {
	position: absolute;
	display: flex;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	z-index: 25;
	animation-name: rotate-cache-lens;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

@keyframes rotate-cache-lens {
	0% {
		transform: rotateZ(0);
	}

	100% {
		transform: rotateZ(50deg);
	}
}

.half-circle {
	width: 50%;
	height: 100%;
	background-color: #2F4858;
}

.half-circle.left {
	position: absolute;
	left: 0;
	right: 0;
	border-right: solid thin black;
	transform-origin: left;
	animation-name: open-lens-right;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

@keyframes open-lens-left {
	0% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}

.half-circle.right {
	position: absolute;
	right: 0;
	top: 0;
	border-left: solid thin black;
	transform-origin: right;
	animation-name: open-lens-right;
	animation-duration: 2s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}

@keyframes open-lens-right {
	0% {
		transform: scaleX(1);
	}

	100% {
		transform: scaleX(0);
	}
}

.side {
	left: 50%;
}

.cr,
.cr .side {
	height: 100%;
}

[class*="cylinder"] .top {
	transform: rotateX(90deg) translateY(-50%);
}

[class*="cylinder"] .bottom {
	transform: rotateX(-90deg) translateY(-50%);
}

[class*="cylinder"] .top,
[class*="cylinder"] .bottom,
[class*="cylinder"] .top .photon-shader,
[class*="cylinder"] .bottom .photon-shader {
	border-radius: 50%;
}

[class*="cylinder"] .bottom {
	top: 100%;
}

.cyl-1 {
	opacity: 1;
}

.cyl-1 .tp,
.cyl-1 .bm {
	width: 128px;
	height: 128px;
}

.cyl-1 .side {
	width: 21.7px;
	height: 128px;
}

.cyl-1 .s0 {
	transform: rotateY(9.4deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s1 {
	transform: rotateY(28.4deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s2 {
	transform: rotateY(47.3deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s3 {
	transform: rotateY(66.3deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s4 {
	transform: rotateY(85.2deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s5 {
	transform: rotateY(104.2deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s6 {
	transform: rotateY(123.1deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s7 {
	transform: rotateY(142.1deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s8 {
	transform: rotateY(161deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s9 {
	transform: rotateY(180deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s10 {
	transform: rotateY(198.9deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s11 {
	transform: rotateY(217.8deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s12 {
	transform: rotateY(236.8deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s13 {
	transform: rotateY(255.7deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s14 {
	transform: rotateY(274.7deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s15 {
	transform: rotateY(293.6deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s16 {
	transform: rotateY(312.6deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s17 {
	transform: rotateY(331.5deg) translate3D(-50%, 0, 63.6px);
}

.cyl-1 .s18 {
	transform: rotateY(350.5deg) translate3D(-50%, 0, 63.6px);
}

.box-z .lens .miror {
	width: 37px;
	height: 37px;
	border-radius: 37px;
	top: calc(50% - 18.5px);
	left: calc(50% - 18.5px);
	background-color: #243e6e;
	display: block;
	z-index: 20;
	position: relative;
	box-shadow: 0 0 0 22px #3e5489,
		0 0 0 30px #1c3666,
		0 0 0 45px #02ba96,
		0 10px 0 45px rgba(0, 0, 0, 0.2);
	animation-name: appears-miror;
	animation-duration: 4s;
}

/*BACK FACE*/
/**VIEWFINDER*/
.box-z .box-viewfinder {
	--viewpointerSize: 50px;
	--viewpointerHalfSize: -25px;
	width: 100px;
	height: 50px;
	position: absolute;
	top: calc(25% + var(--viewpointerHalfSize));
	left: calc(50% + var(--viewpointerHalfSize));
}

.box-z .button-picture1 {
	position: absolute;
	width: 26px;
	height: 26px;
	right: 0;
	top: -13px;
	border-radius: 26px;
	background-color: #02ba96;
	box-shadow: inset 0 0 10px #005745;
}

.box-z .viewfinder {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	top: calc(var(--viewpointerSize) / -2);
	left: var(--viewpointerSalfSize);
	width: var(--viewpointerSize);
	height: var(--viewpointerSize);
	border-radius: 1px;
}

.box-z .viewfinder-x-pos {
	background-color: #02ba96;
	transform: rotateX(90deg) translateZ(calc(var(--viewpointerSize) / 2));
}

.box-z .viewfinder-x-neg {
	background-color: #02ba96;
	transform: rotateX(90deg) translateZ(calc(var(--viewpointerSize) / -2));
}

.box-z .viewfinder-y-pos {
	background-color: #02ba96;
	transform: rotateY(-90deg) translateZ(calc(var(--viewpointerSize) / 2));
}

.box-z .viewfinder-y-neg {
	background-color: #02ba96;
	transform: rotateY(90deg) translateZ(calc(var(--viewpointerSize) / 2 + 1.25px));
}

.box-z .viewfinder-z-pos {
	background-color: #02ba96;
	z-index: 30;
	border: solid 2px #02ba96;
	transform: rotateY(0deg) translateZ(calc(var(--viewpointerSize) / 2)) translateX(-1.5px) translateY(-1.5px);
}

.box-z .viewfinder-z-pos-border {
	top: calc(50% + var(--viewpointerHalfSize) - 3);
	z-index: 30;
	border: solid 2px #02ba96;
	box-shadow: inset 0px 0px 1.5px 8px rgba(47, 72, 88, 1);
}

.box-z .viewfinder-z-neg {
	background-color: #02ba96;
	transform: rotateY(180deg) translateZ(calc(var(--viewpointerSize) / 2));
}

.box-card-picture {
	position: absolute;
	width: 250px;
	height: 150px;
	border-radius: 10px;
	top: 40%;
	left: calc(50% - 125px);
	border: solid thin #02ba96;
}

.box-card-picture-open {
	position: absolute;
	width: 0px;
	height: 30px;
	border-radius: 10px;
	top: calc(50% - 15px);
	right: 5%;
	border: solid thin #02ba96;
}

/*LEFT FACE*/
.box-3d .y-pos {
	background-color: #2F4858;
}

/*RIGHT FACE*/
.box-3d .y-neg {
	background-color: #2F4858;
}

/*TOP FACE*/
.box-3d .x-pos {
	background-color: #2F4858;
}

/*BOTTOM FACE*/
.box-3d .x-neg {
	background-color: #2F4858;
}

/*CAMERA*/
@keyframes rotate-camera-scale {
	0% {
		transform-origin: 50px;
		transform: translateZ(0) rotate3d(0, 1, 0, 42deg);
	}

	25% {
		transform: rotate3d(0, 1, 0, 84deg);
	}

	100% {
		transform-origin: top;
		transform: translateZ(600px) translateY(87.5px) rotate3d(0, 1, 0, -180deg);
	}
}

@keyframes rotate-camera-scale1 {
	0% {
		transform-origin: top;
		transform: translateZ(600px) translateY(87.5px) rotate3d(0, 1, 0, -180deg);
	}

	100% {
		transform-origin: 50px;
		transform: translateZ(150px) rotate3d(0, 1, 0, 0deg);
	}
}

.download {
	position: fixed;
	bottom: 10%;
	left: calc(50% - 65px);
	display: none;
	margin: 0 auto;
	padding: 10px 20px;
	border-radius: 2px;
	text-decoration: none;
	text-align: center;
	color: #eb9250;
	font-family: 'roboto', sans-serif;
	font-size: 20px;
	font-weight: bold;
	background-color: #2F4858;
	cursor: pointer;
	animation-duration: 4s;
	animation-fill-mode: forwards;
}
@keyframes download-appear {
	0% {
		opacity: 0;
	}

	80% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}